<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eop.mybatis.spring.mapper.PostTagMapper">

	<insert id="savePostTag" parameterType="postTag" useGeneratedKeys="true" keyColumn="id" keyProperty="id" statementType="PREPARED">
		insert into posttag (postId, tagId)
		values(#{postId}, #{tagId})
	</insert>
  	
	
</mapper>